
.chirper {
    width: 51vw; 
    margin: 10px 20px; 
    text-align: left;

    .chirper-colored {
        color: white; 
        background-color: #fa2a55; 
    }

    .sign-up-free {
        margin-bottom: 40px; 
    }
}

